* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    /* background: linear-gradient(132deg, rgb(255, 127, 56) 0.00%, rgb(255, 196, 108) 100.00%); */
    /* background: url('https://source.unsplash.com/random'); */


    /* background:
    linear-gradient(322deg, 
      #ba4aff, #ba4aff00 70%),
    linear-gradient(178deg,
      #008aff,#008aff00 70%),
    linear-gradient(24deg,
      #00ffc6, rgba(#00ffc6, 0) 35%); */
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%);


}

.wrapper-X2 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    padding: 2rem;
    place-content: center;
    /* background: linear-gradient(132deg, rgb(255, 127, 56) 0.00%, rgb(255, 196, 108) 100.00%); */
    /* background: url('https://source.unsplash.com/random'); */


    /* background:
    linear-gradient(322deg, 
      #ba4aff, #ba4aff00 70%),
    linear-gradient(178deg,
      #008aff,#008aff00 70%),
    linear-gradient(24deg,
      #00ffc6, rgba(#00ffc6, 0) 35%); */
    background: url('BG.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%); */


}

.signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    /* height: 70vh; */
    background: rgba(255, 255, 255, 0.05);
    /* box-shadow: 0 8px 32px 0 rgba(179, 183, 243, 0.37); */
    /* backdrop-filter: blur( 2px ); */
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 23px 23px 43px rgba(0, 0, 0, 0.15), -23px -23px 43px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
}


@media screen and (max-width : 800px) {
    .signup {
        width: 80vw;
    }
}

.signup h3 {
    color: rgb(15, 15, 15);
    /* color: #fff; */
    font-family: 'montserrat';
    padding: .5rem;
    padding-bottom: 1.2rem;
    font-weight: 600;
    font-size: 1.5rem;
    /* text-align: center; */
}

.image {
    width: 50%;
    height: 100%;
    display: grid;
    place-content: center;
}

@media screen and (max-width : 760px) {
    .image {
        display: none;
    }
}

@media screen and (max-width : 350px) {
    .wrapper-X2 {
        padding: 0;
    }

    .signup {
        width: 95vw;
    }
}

.image img {
    height: 40vh;
    min-height: 300px;
}

.image svg {
    height: 60%;
}

.form {
    background-color: transparent;
    height: 100%;
    width: 80%;
    padding: 1rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 500px;

}

@media screen and (max-width : 600px) {
    .form {
        padding-right: 0;
        padding-left: 0;
        width: 85%;
    }
}

@media screen and (max-width : 500px) {
    .form {
        padding-right: 0;
        padding-left: 0;
        width: 90%;
    }
}

.login-with-google-btn {
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 30% 11px;
    width: 100%;
}

@media screen and (max-width : 900px) {
    .login-with-google-btn {
        background-position: 25% 11px;
    }
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: middle;
}

.divider hr {
    width: 100%;
}

.divider p {
    padding: 1rem;
}

.hor-group {
    display: flex;
}

@media screen and (max-width : 990px) {
    .hor-group {
        flex-direction: column;
    }
}

.input-group {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    font-size: .8rem;
    font-family: 'montserrat';
    color: #000;
    padding-left: 1.2rem;
    padding-bottom: .3rem;
}

.input-group input:not([type="file"]) {
    width: 100%;
    height: 2rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.363);
    padding-left: 1.2rem;
    font-family: 'montserrat';
    font-size: 1.05rem;
    backdrop-filter: blur(2px);
}

.input-group input:not([type="file"]):focus {
    box-shadow: 0 8px 32px 0 rgba(162, 168, 255, 0.37)inset;

}

.input-group input:not([type="file"]):hover {
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.253); */
}

.btn-conatiner {
    padding: .5rem;
}

.form button[type="submit"] {
    width: 100%;
    width: 100%;
    height: 2.5rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
    font-family: 'montserrat';
    font-size: 1.05rem;
    backdrop-filter: blur(2px);

    margin-top: .5rem;
    /* margin-bottom: .7rem; */
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.781);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    font-weight: 500;
}

.form input[type="file"] {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.form button[type="submit"]:hover {
    background: rgb(255, 255, 255);
}



*****************************************/ .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 80px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animate 25s linear infinite;
    /* bottom: -150px; */

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.orLogin{
    text-align: center;
    padding: .5rem;
}
.orLogin a{
    text-decoration: none;
    padding: 0 .5rem;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/*******************************/





/* div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* :root {
  font-size: 5vmin;
} */
/* 
body {
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Sacramento', cursive;
  color: #fff;
  background: #333;
  background-image: radial-gradient(ellipse at bottom left, #00a3cb 40%, rgba(0, 163, 203, 0) 40%), radial-gradient(ellipse at top right, #00a3cb 30%, rgba(0, 163, 203, 0) 30%), linear-gradient(to right, #625793 0%, #625793 33%, #d55d64 33%, #d55d64 66%, #e49129 66%);
  background-size: 50% 100%;
} */
