@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
:root {
  --red: #b80000;
  --blue: #1208d1;
  --glass: rgba(255, 255, 255, 0.15);
  --shadow: rgba(0, 0, 0, 0.05);
  --textBlue: #1801a3;
}

.login-main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}

.login-back {
  position: absolute;
  width: 100%;
  min-height: 150vh;
  top: 0;
  background: linear-gradient(45deg, var(--blue), var(--red));
  z-index: -10;
}

.login-card {
  position: relative;
  font-size: 1rem;
  width: 52em;
  height: 30em;
  background-color: #8289f821;
  /*background-image: linear-gradient(
		180deg,
		#8289f821 0%,
		rgba(178, 182, 248, 0) 100%
	);*/
  backdrop-filter: blur(50px);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 2em rgba(0, 0, 0, 0.15);
  border-image-source: linear-gradient(
    138.62deg,
    rgba(255, 216, 216, 0) 100%,
    rgba(255, 255, 255, 0) 100%
  );
}

.card-holder,
.login-form {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px solid black;*/
}

.login-form {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 1.5rem;
}

.login-profile-cards {
  position: absolute;
  font-size: 1rem;
  height: 20em;
  width: 13em;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 0.5em 0.5em var(--shadow);
  opacity: 0.8;
  transform-origin: top;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.login-profile {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reading-login {
  background-color: transparent;
  height: 70%;
  width: auto;
}

.login-profile .main-card {
  transform: perspective(5000px) rotateX(20deg) rotateY(10deg)
    translate(20px, -20px);
}
.login-profile .login-profile-cards:nth-child(1) {
  transform: perspective(5000px) rotateX(20deg) rotateY(10deg);
}
.login-profile .login-profile-cards:nth-child(2) {
  transform: perspective(5000px) rotateX(20deg) rotateY(10deg)
    translate(10px, -10px);
}

.login-header {
  position: relative;
  width: 100%;
  height: 30%;
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
}

.login-head {
  position: relative;
  font-size: 2.1rem;
  letter-spacing: 2px;
  /*border: 2px solid black;*/
  font-weight: 1000;
  margin-bottom: 0.7em;
}

.google-login {
  position: relative;
  font-size: 1.1rem;
  width: 15em;
  height: 2.7em;
  background-color: #fff;
  border-radius: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textBlue);
  box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 1000;
  transition: box-shadow 0.2s ease;
}

.google-login:hover {
  box-shadow: none;
}

.google-logo {
  position: absolute;
  font-size: 1rem;
  height: 1.75em;
  width: 1.75em;
  left: 0.65em;
  top: 50%;
  transform: translateY(-50%);
}

.login-divisor {
  position: relative;
  font-size: 1rem;
  width: 100%;
  height: 3em;
  /*border: 2px solid black;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-login-text {
  position: relative;
  font-size: 0.88rem;
  font-family: "Poppins", sans-serif;
}

.divisor-line {
  position: absolute;
  font: 1rem;
  height: 2px;
  width: 7em;
  top: 50%;
  background-color: #000;
  transform: translateY(-50%);
}

.login-divisor .divisor-line:nth-child(1) {
  left: 0;
}
.login-divisor .divisor-line:nth-child(2) {
  right: 0;
}

.manual-login {
  position: relative;
  width: 100%;
  height: calc(70% - 3rem);
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.manual-login > label {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: black;
  transition: all 0.2s linear;
}

.manual-login .login-password-div {
  position: relative;
  width: 100%;
  height: auto;
  /*border: 2px solid black;*/
}

.login-eye {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
  height: 1.5em;
  width: 1.5em;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.85;
}

.manual-login input {
  font-size: 1rem;
  width: 100%;
  height: 3em;
  border-radius: 1.5em;
  border: none;
  padding-inline: 1em;
  text-align: center;
  background-color: var(--glass);
  color: #000;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s linear;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.manual-login input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  /*border: none;*/
  /*box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.1);*/
}

.login-button {
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  justify-self: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1em;
  padding: 0.2em;
  padding-inline: 1.5em;
  font-family: "Poppins", sans-serif;
  background-color: var(--deepBlue);
  backdrop-filter: blur(50px);
  color: #fff;
  border-radius: 0.3em;
}

.login-button::before {
  content: "";
  position: absolute;
  width: 50%;
  background-color: #fff;
  left: 2px;
  top: 2px;
  bottom: 2px;
  z-index: -1;
  opacity: 0.2;
}

.login-eye {
  position: absolute;
}

@media only screen and (max-width: 845px) {
  .login-card {
    width: 25em;
  }
  .login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding-inline: 1.5em;
  }
  .divisor-line {
    width: 6em;
  }
  .login-back {
    height: max(50rem, 100%);
  }
}

@media only screen and (max-width: 417px) {
  .login-card {
    height: 25em;
    width: 20em;
  }
  .login-head {
    bottom: -0.5em;
  }
  .divisor-line {
    width: 4em;
  }
}
